body{
    margin:0;
    padding:0;
}
#map{
    width:100vw;
    position: absolute;;
    top:0;
    bottom:0;
}
.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  /*styling for the popup*/
  .mapboxgl-popup{
      max-width: 200px;
      padding: 10px;
  }
  .mapboxgl-popup-content{
      text-align:center;
      font-family:'Open Sans, sans-serif';
  }
#sidebar-btn{
    width:60px;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    background-color:#272626;
    z-index:1;
    color:white;
    opacity: 0.8;
}
#search{
width:180px;
height:25px;
padding: 10px;
border-radius:10px;
}
#sidebar{
    opacity:0.8;
    color:#fff;
    width: 230px;
    background-color: #272626;
    height: 82%;
    position: fixed;
    top: 80px;
    z-index: 1;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display:block;
}
.searchList{
width:160px;
}
.searchListItem{
list-style-type:none;
line-height:20px;
font-size:20px;
padding:10px;
border-bottom:2px solid white;
}
div ul li:hover{
    color:red;
    border:1px solid red;
    cursor:pointer;
}
/*Responsive design*/
@media(max-width:640px){
    #sidebar-btn{
        width:50px;
        height:50px;
        padding:10px;
    }
        #search{
            width:120px;
            height:20px;
            padding: 8px;
            border-radius:7px;
            }
            #sidebar{
                margin:none;
                padding:none;
                opacity:0.8;
                max-width:150px;
                background-color: #272626;
                height: 80%;
                top: 65px;  
                display:none;
            }
            .searchList{
                width:100px;
                }
            .searchListItem{
            line-height:18px;
            font-size:15px;
            text-align: center;
            border-bottom:1px solid white;
             }
}

